.auth {
    padding: 44.22px;
    border-radius: 22px !important;
    border: 1.106px solid var(--stroke-3, #232323) !important;
    margin-inline: 10px;
    background: var(--back-login, #131313) !important;
    box-shadow: 0px 8.844px 22.641px 0px rgba(0, 0, 0, 0.11), 0px 17.689px 45.283px 0px rgba(0, 0, 0, 0.05), 0px 35.377px 90.566px 0px rgba(0, 0, 0, 0.03) !important;

    &__inner {
        padding: 18px 36px;
        position: relative;

        &--center {
            @include flex-center;
        }
    }

    &__backbutton {
        position: absolute;
        top: 13px;
        padding: 10px;
        left: 0;
    }

    &__heading {
        margin-bottom: 34px;

        color: #FCFCFC;
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: var(--sds-typography-weight-bold);
        line-height: 40px;
    }

    &__form {
        width: 100%;
        margin-bottom: 36px;

        &-inner {
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        &-input {
            --input-background-color: none !important;
            --input-placeholder-color: #93949A !important;
            --input-text-color: #FCFCFC !important;
            --input-border-color: rgba(255, 255, 255, 0.06) !important;

            height: 54px;

            box-shadow: none !important;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: #FCFCFC !important;
            }

            &__wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                box-shadow: inset 0 0 0 var(--sds-size-stroke-border) var(--input-border-color) !important;
                background: rgba(255, 255, 255, 0.06);
                border-radius: 11.1px;
            }

            &__icon {
                @include flex-center;
                margin-right: 16px;
            }
        }

        &-button {
            height: 56px;

        }
    }

    &__text {
        color: #93949A;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 250;
        line-height: 24px; /* 150% */

        &--status {
            margin-bottom: 34px;
            color: green;
            font-weight: var(--sds-typography-weight-semibold);
        }

        &-link {
            margin-inline: 10px;
            color: #5C4FF9;
            font-weight: var(--sds-typography-weight-regular);
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 17.69px;
        margin-bottom: 54px;

        &-item {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            width: 336px;
            height: 56px;
            padding-inline: 14.37px;

            border-radius: 11.055px;
            border: 1.106px solid var(--grey, #93949A);

            &--white {
                background: #FCFCFC;
                border: 1.106px solid #000;
                color: #131313;
            }

            &--grey {
                background: #232323;
                border: none;
            }

            &--service {
                border: none;
                font-weight: var(--sds-typography-weight-regular);
            }
        }

        &-text {
            text-align: center;

            font-size: 16px;
            font-style: normal;
            font-weight: var(--sds-typography-weight-semibold);
            line-height: 21px;
            justify-self: center;
            margin: auto;
        }

        &-icon {
            svg *[fill] {
                fill: revert-layer !important;
            }
            @include flex-center;
        }
    }
}

.verification {
    height: 40vh;
    font-size: 36px;
    font-weight: var(--sds-typography-weight-bold);
}