.auth {
    padding: 44.22px;
    border-radius: 22px;
    border: none;
    margin-inline: 10px;

    &__inner {
        padding: 18px 36px;
        position: relative;

        &--center {
            @include flex-center;
        }
    }

    &__backbutton {
        position: absolute;
        top: 13px;
        padding: 10px;
        left: 0;
    }

    &__heading {
        margin-bottom: 34px;

        color: #FCFCFC;
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    &__form {
        width: 100%;
        margin-bottom: 66px;

        &-inner {
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        &-input {
            width: 100%;
            --input-background-color: rgba(255, 255, 255, 0.06) !important;
            --input-placeholder-color: #93949A !important;
            --input-text-color: #FCFCFC !important;
            --input-border-color: rgba(255, 255, 255, 0.06) !important;

            height: 54px;
        }

        &-button {
            height: 56px;
        }
    }

    &__text {
        color: #93949A;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 250;
        line-height: 24px; /* 150% */

        &--status {
            margin-bottom: 34px;
            color: green;
            font-weight: 600;
        }

        &-link {
            margin-inline: 10px;
            color: #5C4FF9;
            font-weight: 400;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 17.69px;
        margin-bottom: 54px;

        &-item {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            width: 336px;
            height: 56px;
            padding-inline: 14.37px;

            border-radius: 11.055px;
            border: 1.106px solid var(--grey, #93949A);

            &--white {
                background: #FCFCFC;
                border: 1.106px solid #000;
                color: #131313;
            }

            &--grey {
                background: #232323;
                border: none;
            }

            &--service {
                border: none;
                font-weight: 400;
            }
        }

        &-text {
            text-align: center;

            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
            justify-self: center;
            margin: auto;
        }

        &-icon {
            svg *[fill] {
                fill: revert-layer !important;
            }
            @include flex-center;
        }
    }
}

.verification {
    height: 40vh;
    font-size: 36px;
    font-weight: 700;
}