.generator-page {
    margin-top: 52px;
    padding: 0;
    &__heading {
        color: #FCFCFC;

        text-align: center;
        font-family: var(--sds-typography-title-hero-font-family);
        font-size: var(--sds-typography-title-hero-size);
        font-style: normal;
        font-weight: var(--sds-typography-weight-bold);
        line-height: 120%; /* 86.4px */
        letter-spacing: -2.16px;

        padding-block: 26px;
        margin-bottom: 11px;
    }

    &__description {
        color: #FFF;
        text-align: center;
        font-family: var(--sds-typography-body-font-family);
        font-size: var(--sds-typography-body-size-medium);
        font-style: normal;
        font-weight: var(--sds-typography-body-font-weight-regular);
        line-height: 100%; /* 16px */

        margin-bottom: 124px;
    }

    &__main {
        width: 100%;
        margin-bottom: 138px;
    }

    &__main {
        background: var(--back-login, #131313);
        padding: 48px;
        border-radius: 20px;

        @include tablet {
            height: auto;
            padding: 40px;
        }

        @include mobile {
            padding: 20px;
        }
    }
}

.generator {
    display: flex;
    flex-direction: row;
    gap: 48px;

    color: #FCFCFC;

    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 140%; /* 22.4px */
    
    &-settings {
        flex: 0 0 auto;
        width: 452px;

        &__underline {
            &::after {
                content: '';
                display: inline-block;
                height: 2px;
                width: 100%;
                border-radius: 2px;
                border: 2px solid rgba(205, 178, 232, 0.30);
            }
        }

        &__part {
            margin-top: 23px;
            display: flex;
            flex-direction: column;
            gap: 22px;

            &:first-child {
                margin-top: 0;
            }

            @extend .generator-settings__underline;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 100%;

            &-content {
                width: 100%;
            }
        }

        &__slider {
            @include flex-center;
            flex-direction: row;
            gap: 5.77;

            height: 75px;
            padding: 6.926px 7.229px 6.94px 7.214px;
            flex-shrink: 0;
            
            border-radius: 10px;
            border: 2px solid #CDB2E8;
            background: rgba(255, 255, 255, 0.02);

            &-item {
                @include flex-center;
                flex: 1;
                height: 100%;
                cursor: pointer;

                gap: 12px;

                border-radius: 10px;

                &--active {
                    background: var(--button-1);
                }

                &--gold {
                    color: #FFBF2A;
                }
            }
        }

        &__styles {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1;
            grid-gap: 15px;
            height: 69px;

            &-item {
                border-radius: 12px;
                &--selected {
                    box-shadow: 0px 0px 20px 0px rgba(240, 144, 255, 0.30);
                    // filter: drop-shadow(0px 0px 10.1px rgba(144, 55, 255, 0.30));
                }
            }
        }

        &__textarea {
            textarea {
                --text-area-border-color: #CDB2E8 !important;
                --text-area-background-color: var(--back-login, #131313) !important;
                --text-area-text-color: var(--sds-color-text-default-default);
                border-width: 2px !important;
                border-radius: 10px !important;
                resize: none !important;
                height: 92px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 16px;
                }
                
                &::-webkit-scrollbar-thumb {
                    border: 7px solid rgba(0, 0, 0, 0);
                    background-clip: padding-box;
                    border-radius: 9999px;
                    background-color: #CDB2E8;
                }
                &:focus-visible {
                    outline: unset !important;
                }
            }
        }

        &__button {
            @include flex-center;

            height: 66px;
            width: 100%;
            border-radius: 20px;

            color: #FCFCFC;
            text-align: center;
            cursor: pointer;

            &--gradient {
                background: var(--button-1);
                box-shadow: 0px 0px 40px 0px rgba(240, 144, 255, 0.30);
            }

            &--border {
                @include border-gradient(1, 20, var(--button-2));
                border: 0;
            }

            &--pink {
                color: #CDB2E8;
                border: 1.443px solid #CDB2E8;
                background: rgba(158, 115, 201, 0.10);
                box-shadow: 0px 0px 40px 0px rgba(240, 144, 255, 0.30);
            }

            &--black {
                background: #070707;
            }
        }

        &__buttons-wrapper {
            display: flex;
            flex-direction: column;
            gap: 22px;
            margin-top: auto;
        }

        &__selector {
            display: flex;
            flex-direction: column;
            gap: 22px;
            padding-top: 22px;
            margin-bottom: 31px;

            @extend .generator-settings__underline;

            &-heading {
                display: inline-flex;
                justify-content: space-between;
                gap: 20px;
                align-items: center;
                cursor: pointer;

                &__icon {
                    transition-duration: .2s;
                    transform-origin: center;
                    @include flex-center;
                    &--rotated {
                        transform: rotate(180deg);
                    }
                }
            }

            &-content {
                padding-left: 17px;
                display: flex;
                flex-direction: row;
                gap: 45px;
            }

            &-shape {
                border-radius: 2px;
                border: var(--sds-size-stroke-border) solid #FFF;
                opacity: var(--sds-size-stroke-border);
                background: #D9D9D9;
                
                &:nth-child(1) {
                    width: 60px;
                    height: 28px;
                }

                &:nth-child(2) {
                    width: 46px;
                    height: 28px;
                }

                &:nth-child(3) {
                    width: 34px;
                    height: 28px;
                }

                &:nth-child(4) {
                    width: 28px;
                    height: 36px;
                }

                &:nth-child(5) {
                    width: 28px;
                    height: 50px;
                }

                &[data-active="true"] {
                    box-shadow: 0px 0px 10.1px 4.329px rgba(225, 2, 192, 0.40);
                }
            }
        }
    }

    &-result {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 17px;

        &__progress {
            &-wrapper {
                height: 66px;
                @include flex-center;
            }
        }

        &__loader {
            @include flex-center;
            gap: 30px;
            flex-direction: column;

            border-radius: 10px;
            border: 1px solid var(--stroke-3, #232323);
            background: #070707;
            padding: 50px;
            border-radius: 10px;

            &-image {
                border-radius: 50%;
                background: #000;
            }

            &-wrapper {
                width: 100%;
                height: 100%;
                @include abs-center;
                @include flex-center;
                backdrop-filter: blur(38px);
                background: rgba(0, 0, 0, 0.4);
                border-radius: 20px;
            }
        }

        &__image {
            border-radius: 20px;

            &-wrapper {
                border-radius: 20px;
                border: var(--sds-size-stroke-border) solid var(--stroke-3, #232323);
                background: var(--back-login, #131313);
                box-shadow: 0px 0px 40px 0px rgba(240, 144, 255, 0.10);
        
                @include flex-center;
                flex: 1;
                position: relative;
            }

            &--default {
                width: 273px;
                height: 273px;
                object-fit: cover;
            }

            &--example {
                width: auto;
                height: auto;
                object-fit: cover;
            }
        }
    }
}