.header {
    position: unset;
    padding-bottom: 0 !important;

    .navigation-direction-row {
        gap: 62px;
    }

    &__logo {
        width: 57px;
        height: 57px;
    }

    &__inner {
        border-bottom: 0.5px solid black;
        border-image: var(--button-1);
        border-image-slice: 1;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    border-bottom: 0 !important;

    &__popover {
        margin-top: 23px;
        &-menu {
            background: var(--back-login, #131313) !important;
            border-radius: 0px 0px 20px 20px !important;
            border-right: var(--sds-size-stroke-border) solid var(--stroke-3, #232323) !important;
            border-bottom: var(--sds-size-stroke-border) solid var(--stroke-3, #232323) !important;
            border-left: var(--sds-size-stroke-border) solid var(--stroke-3, #232323) !important;
            border-top: none !important;
            padding: 20px 20px 10px 20px !important;
            box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.08) !important;
        }

        &-item {
            --menu-item-label-color: #FCFCFC !important;
            --menu-item-icon-color: #FCFCFC !important;
            width: 227px !important;

            display: flex !important;
            flex-direction: row !important;
            gap: var(--sds-size-space-400) !important;
            align-items: center !important;
            cursor: pointer !important;
            padding: 10px !important;

            &:last-child {
                border-top: var(--sds-size-stroke-border) solid var(--Gray5, #1C1C1C) !important;
                border-radius: 0 !important;
                margin-top: 10px !important;
            }
        }
    }

    &__button {
        width: 190px;
        height: 47px;
        border-radius: 10px !important;
    }
}

.navigation-pill {
    padding: var(--sds-size-space-100) var(--sds-size-space-200) !important;
    text-align: center;

    &--border {
        @include border-gradient(1, 8, var(--button-2));
        box-shadow: 0px 0px 20px 0px rgba(240, 144, 255, 0.5);
    }
}

.language {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;

    &__icon {
        padding: 11px;
        border-radius: 50px;
        @include flex-center;
        background: var(--back-login, #131313);
    }
    &__dropdown {
        .ant-dropdown-menu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            padding: 30px !important;
            min-width: 394px;
            gap: 10px;
            justify-content: center;

            border-radius: 20px;
            top: 29px !important;
        }

        .ant-dropdown-menu-item {
            padding: 0 !important;
            margin: 0 !important;
            background: var(--stroke-3, #232323);
            border-radius: 8px !important;
        }

        .ant-dropdown-menu-title-content {
            @include flex-center;
        }

        svg *[fill] {
            fill: revert-layer !important;
        }
    }

    &__link {
        display: inline-flex;
        width: 100%;

        justify-content: space-between;
        align-items: center;

        padding: 10px !important;

        &--active {
            @include border-gradient(1, 8, var(--button-1));
        }

        &-title {
            justify-self: center !important;
            margin-inline: auto;
        }

        &-icon {
            svg *[fill] {
                fill: revert-layer !important;
            }
        }
    }

    svg *[fill] {
        fill: revert-layer !important;
    }
}