.header {
    padding: 0;
    position: unset;

    .navigation-direction-row {
        gap: 62px;
    }

    &__logo {
        width: 57px;
        height: 57px;
    }

    &__inner {
        border-bottom: 0.5px solid black;
        border-image: var(--button-1);
        border-image-slice: 1;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    border-bottom: 0 !important;

    &__popover {
        margin-top: 20px;
        &-menu {
            background: #fff !important;
            border-radius: 0px 0px 20px 20px !important;
            padding: 20px 20px 10px 20px !important;
        }

        &-item {
            --menu-item-label-color: #070707 !important;
            --menu-item-icon-color: #070707 !important;
            width: 227px !important;

            display: flex !important;
            flex-direction: row !important;
            gap: var(--sds-size-space-400) !important;
            align-items: center !important;
            cursor: pointer !important;
            padding: 10px !important;

            &:last-child {
                border-top: var(--sds-size-stroke-border) solid var(--Gray5, #D3D7DE) !important;
                border-radius: 0 !important;
                margin-top: 10px !important;
            }
        }
    }
}

.navigation-pill {
    padding: var(--sds-size-space-100) var(--sds-size-space-200) !important;

    &--border {
        --b: 1px;  /* border width*/
      
        display: inline-block;
        position: relative;
        z-index:0;
        box-shadow: 0px 0px 10px 0px #F090FF;
    }

    &--border::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        padding: var(--b);
        border-radius: var(--sds-size-radius-200);
        background: linear-gradient(326deg, rgba(255, 255, 255, 1), rgba(225, 2, 192, 1), rgba(255, 255, 255, 1)); 
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
                mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}