.main-hero {
    padding: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 152px;
    position: relative;

    height: 1275px;

    &__design-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__background {
        background: url("../../../public/BackgroundMainBanner.png") no-repeat, linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, #070707 100%);
        background-size: cover;
        position: absolute;
        z-index: -9999;
        
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__smallimage {
        object-fit: cover;
        border-radius: 20px;

        &-wrapper {
            position: absolute;
            z-index: -3;
            padding: 36px;
            border-radius: 20px;

            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(25px);

            &--1 {
                top: 133px;
                left: -142px;
                transform: rotate(16deg);
            }

            &--2 {
                top: 285px;
                right: -86.4px;
                transform: rotate(-15deg);
            }

            &--3 {
                top: 708px;
                left: -142px;
                transform: rotate(-22deg);
            }

            &--4 {
                top: 883px;
                right: -138px;
                transform: rotate(22deg);
            }
        }
    }

    &__circle {
        position: absolute;
        z-index: -10;

        &--blue {
            width: 1346.122px;
            height: 578.848px;
            transform: rotate(-19.331deg);

            border-radius: 1346.122px;
            background: #6A76F2;
            filter: blur(150px);

            top: -300px;
            left: -70%;
        }

        &--violet {
            width: 2209.232px;
            height: 380.204px;

            border-radius: 2209.232px;
            opacity: var(--sds-size-stroke-border);
            background: #9546BC;
            filter: blur(150px);

            top: -500px;
            left: 50%;
            transform: rotate(-19.331deg) translate(-50%);
        }

        &--pink {
            width: 1002.042px;
            height: 324px;
            transform: rotate(-19.331deg);

            border-radius: 1002.042px;
            opacity: var(--sds-size-stroke-border);
            background: #D14752;
            filter: blur(150px);

            top: 0;
            right: -60%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        width: 591px;

        &-title {
            color: #FCFCFC;
            text-align: center;
            font-size: 120px;
            font-style: normal;
            font-weight: 900;
            line-height: 120%; /* 144px */
            letter-spacing: -3.6px;
            text-transform: uppercase;
        }

        &-subtitle {
            color: #FCFCFC;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 135%; /* 32.4px */

            margin-top: -10px;
            margin-bottom: 45px;
        }

        @include mobile {
            padding: 30px;
            width: 100%;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;

        &-wrapper {
            width: 1311px;
            flex-shrink: 0;

            border-radius: 40px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(25px);
            height: 917px;
            padding: 50px;
            position: relative;
        }

        &-gradient {
            background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, #070707 30%);
            position: absolute;
            width: 100%;
            height: 40%;
            bottom: 0;
            left: 0;
            z-index: 50;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 77px;
        align-items: center
    }

    &__button {
        @include flex-center;
        padding: 20px;
        gap: 10px;
        position: relative;

        border-radius: 10px;
        border: var(--sds-size-stroke-border) solid #FFC3F6;
        box-shadow: 0px 0px 17.4px 4.329px rgba(144, 55, 255, 0.80);

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 26px */
        letter-spacing: 0.4px;

        background: var(--batton-1, linear-gradient(116deg, #E202BB 10.78%, #6902E7 82.26%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        cursor: pointer;

        &::before {
            content: '';
            @include abs-center;
            width: 100%;
            height: 100%;
            background: var(--text, #FCFCFC);
            z-index: -10;
            border-radius: 10px;
        }
    }

    .next-video-bg-video, .next-video-bg {
        border-radius: 20px;
        pointer-events: none;
    }

    @include mobile {
        padding: 20px;
    }
}

.main-panel {
    margin-top: 55px !important;
    &__button {
        &-wrapper {
            padding: 15px;
            background: rgba(39, 36, 36, 0.20);
            backdrop-filter: blur(10px);

            border-radius: 20px;
        }
    }

    .next-video-bg-video, .next-video-bg {
        border-radius: 20px;
        border: var(--sds-size-stroke-border) solid var(--stroke-3, #232323);
    }
}

.functions {
    &__heading {
        .text-heading {
            background: var(--text-2, linear-gradient(102deg, #FFC3F6 -128.07%, #FFC2F6 -26.89%, #E102C0 131.31%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 32px;
            font-style: normal;
            font-weight: var(--sds-typography-heading-font-weight);
            line-height: 120%; /* 38.4px */
            letter-spacing: 0.64px;
        }

        .text-subheading {
            font-size: var(--sds-typography-subheading-size-medium);
            font-style: normal;
            font-weight: var(--sds-typography-subheading-font-weight);
            line-height: 120%; /* 24px */
        }
    }
    &__list {
        width: 556px;
        flex-direction: column;
        margin-bottom: 51px;
        flex: 0 1 auto;

        @include tablet {
            width: 100%;
            .card {
                background: transparent;
            }
        }

        .card-asset {
            justify-content: center;
            align-items: center;
        }

        svg *[fill] {
            fill: revert-layer !important;
        }
    }

    &__images {

        &-box {
            margin-left: auto;
            flex-direction: column;
            width: max-content;
            display: flex;
    
            @include mobile {
                width: 100%;
            }
        }

        &-item {
            width: 474px;
            height: 151px;
            flex: 0 1 auto;
            border-radius: 20px 20px 0px 0px;
            position: relative;
            z-index: 3;

            margin-bottom: -29px;
    
            @include mobile {
                width: 100%;
            }

            &:nth-child(3) { 
                background: rgba(7, 7, 7);
                img {
                    object-position: 0 -10px;
                    z-index: 0;
                }
            }
        }
    }
        
    &__image {
        width: 100%;
        height: 151px;

        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        border: var(--sds-size-stroke-border) solid #FFF;
    }

    .card-content {
        font-size: var(--sds-typography-body-size-medium);
        font-style: normal;
        font-weight: var(--sds-typography-weight-light);
        line-height: 140%; /* 22.4px */
    }
}


.advantages {
    &__heading {
        .text-heading {
            background: var(--text-2, linear-gradient(102deg, #FFC3F6 -128.07%, #FFC2F6 -26.89%, #E102C0 131.31%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 32px;
            font-style: normal;
            font-weight: var(--sds-typography-heading-font-weight);
            line-height: 120%; /* 38.4px */
            letter-spacing: 0.64px;
        }

        .text-subheading {
            font-size: var(--sds-typography-subheading-size-medium);
            font-style: normal;
            font-weight: var(--sds-typography-subheading-font-weight-regular);
            line-height: 120%; /* 24px */
        }
    }
    
    &__rectangles-box {
        --flex-gap: 57px !important;

        @include mobile {
            padding-inline: 30px;
            width: 100% !important;
        }
    }
    

    &__rectangles-item {
        filter: drop-shadow(0px 0px 20px rgba(240, 144, 255, 0.30));
        object-position: 50% 50%;
        object-fit: cover;
        width: 474px;
        height: 107px;

        margin-left: auto;

        transform: skew(-15deg);

        border: 0.5px solid black;
        border-image: linear-gradient(270deg, rgba(255, 255, 255, 1), rgba(225, 2, 192, 1), rgba(255, 255, 255, 1));
        border-image-slice: 1;
        
        @include mobile {
            width: 100%;
        }

        &--frame {
            justify-self: flex-end;
            margin-left: auto;
        }

    }
    &__frame {
        display: flex;
        flex-direction: row;
        gap: 70px;
        flex-wrap: wrap;

        &-list {
            flex-direction: column;
            margin-bottom: 51px;
            flex: 0 1 auto;
            display: flex;
            gap: 40px;

            width: 100%;
        }

        align-items: center;

        &--first {
            margin-left: 19px;
            gap: 50px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: var(--sds-size-space-200);
            width: 384px;

            @include mobile {
                width: 100%;
            }
        }

        &-text {
            color: #FCFCFC;

            /* Body Base */
            font-family: var(--sds-typography-body-font-family);
            font-size: var(--sds-typography-body-size-medium);
            font-style: normal;
            font-weight: var(--sds-typography-body-font-weight-regular);
            line-height: 140%; /* 22.4px */
            opacity: var(--sds-size-stroke-border);
        }

        &-number {
            @include fluid-text(150, 65);

            font-style: italic;
            font-weight: 550;
            line-height: 100%; /* 150px */
            -webkit-text-stroke: 2px transparent;

            background: var(--button-1);
            -webkit-background-clip: text;
            background-clip: text;

            color: black;
            min-width: 115px;
            @include flex-center;

            &--muller {
                font-family: var(--font-muller);
            }

            &--gotham {
                font-family: var(--font-gotham);
            }
        }
    }
}

.blocks {
    margin-bottom: 182px;
    &__wrapper {
        --flex-gap: 100px !important;

        @include mobile {
            gap: 20px;
        }
    }

    &__item {
        width: 450px;
        height: 450px;
        color: #000;
        position: relative;
        border-radius: 24px;
        box-shadow: 0px 0px 40px 0px rgba(240, 144, 255, 0.30);

        &-subblock {
            display: flex;
            gap: 90px;
            flex-direction: column;
        }

        $orders: 1, 2, 3, 4;

        @each $order in $orders {
          &--order-#{$order} {
            order: $order;
          }
        }
        

        @include mobile {
            width: 100%;
        }

        &-image {
            object-fit: cover;
            border-radius: 24px;
        }

        &-text {
            padding: 13px 35px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            border: var(--sds-size-stroke-border) solid rgba(252, 252, 252, 0.40);
            background: rgba(0, 0, 0, 0.50);
            backdrop-filter: blur(10px);

            color: #FFF;
            text-align: center;
            font-size: 29.173px;
            font-style: normal;
            font-weight: var(--sds-typography-body-font-weight-strong);
            line-height: 140%; /* 40.843px */
        }
    }
}

.main-faq {
    margin-block: 283px 313px;

    @include mobile {
        margin-block: 100px;
    }

    &__inner {
        --flex-gap: 24px !important;
    }
    &__heading {
        color: var(--text, #FCFCFC);
        text-align: center;

        font-size: 48px;
        font-style: normal;
        font-weight: 550;
        line-height: 150%; /* 72px */
        text-transform: uppercase;
    }
}