.main-hero {
    padding: 100px;

    border-radius: 20px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 52px;
        background: rgba(0, 0, 0, 0.40);
        backdrop-filter: blur(77.0999984741211px);
        padding: 64px 150px;
        border-radius: 20px;

        @include mobile {
            padding: 30px;
        }
    }

    &__inner {
        height: 556px;
        border-radius: 20px;
    }

    &__button {
        padding: 20px;
        box-shadow: 0px 0px 17.4px 4.329px rgba(144, 55, 255, 0.80);
        border: var(--sds-size-stroke-border) #FFC3F6;
    }

    .next-video-bg-video, .next-video-bg {
        border-radius: 20px;
    }

    @include mobile {
        padding: 20px;
    }
}

.main-panel {

    &__button {
        &-wrapper {
            padding: 15px;
            background: rgba(39, 36, 36, 0.20);
            backdrop-filter: blur(10px);

            border-radius: 20px;
        }
    }

    .next-video-bg-video, .next-video-bg {
        border-radius: 20px;
        border: var(--sds-size-stroke-border) solid var(--stroke-3, #232323);
    }
}

.functions {
    &__heading {
        .text-heading {
            background: var(--text-2, linear-gradient(102deg, #FFC3F6 -128.07%, #FFC2F6 -26.89%, #E102C0 131.31%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 32px;
            font-style: normal;
            font-weight: var(--sds-typography-heading-font-weight);
            line-height: 120%; /* 38.4px */
            letter-spacing: 0.64px;
        }

        .text-subheading {
            font-size: var(--sds-typography-subheading-size-medium);
            font-style: normal;
            font-weight: var(--sds-typography-subheading-font-weight);
            line-height: 120%; /* 24px */
        }
    }
    &__list {
        width: 556px;
        flex-direction: column;
        margin-bottom: 51px;
        flex: 0 1 auto;

        @include tablet {
            width: 100%;
            .card {
                background: transparent;
            }
        }

        .card-asset {
            justify-content: center;
            align-items: center;
        }

        svg *[fill] {
            fill: revert-layer !important;
        }
    }

    &__images-box {
        margin-left: auto;
        flex-direction: column;
        width: max-content;

        @include mobile {
            width: 100%;
        }
    }

    &__images-item {
        width: 474px;
        flex: 0 1 auto;

        @include mobile {
            width: 100%;
        }
    }
        
    &__image {
        width: 100%;
        height: 151px;
        margin-bottom: -29px;
    
        @include hover {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }

    .card-content {
        font-size: var(--sds-typography-body-size-medium);
        font-style: normal;
        font-weight: 250;
        line-height: 140%; /* 22.4px */
    }
}


.advantages {
    &__heading {
        .text-heading {
            background: var(--text-2, linear-gradient(102deg, #FFC3F6 -128.07%, #FFC2F6 -26.89%, #E102C0 131.31%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 32px;
            font-style: normal;
            font-weight: var(--sds-typography-heading-font-weight);
            line-height: 120%; /* 38.4px */
            letter-spacing: 0.64px;
        }

        .text-subheading {
            font-size: var(--sds-typography-subheading-size-medium);
            font-style: normal;
            font-weight: var(--sds-typography-subheading-font-weight-regular);
            line-height: 120%; /* 24px */
        }
    }
    
    &__rectangles-box {
        gap: 57px;

        @include mobile {
            padding-inline: 30px;
            width: 100% !important;
        }
    }
    

    &__rectangles-item {
        filter: drop-shadow(0px 0px 20px rgba(240, 144, 255, 0.30));
        object-position: 50% 50%;
        object-fit: cover;
        width: 474px;
        height: 107px;

        margin-left: auto;

        transform: skew(-15deg);

        border: 0.5px solid black;
        border-image: linear-gradient(270deg, rgba(255, 255, 255, 1), rgba(225, 2, 192, 1), rgba(255, 255, 255, 1));
        border-image-slice: 1;
        
        @include mobile {
            width: 100%;
        }

    }
    &__frame {
        display: flex;
        flex-direction: row;
        gap: 70px;

        &-list {
            width: 556px;
            flex-direction: column;
            margin-bottom: 51px;
            flex: 0 1 auto;

            @include mobile {
                width: 100%;
            }
        }

        align-items: center;

        &--first {
            margin-left: 19px;
            gap: 50px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: var(--sds-size-space-200);
        }

        &-text {
            color: #FCFCFC;

            /* Body Base */
            font-family: var(--sds-typography-body-font-family);
            font-size: var(--sds-typography-body-size-medium);
            font-style: normal;
            font-weight: var(--sds-typography-body-font-weight-regular);
            line-height: 140%; /* 22.4px */
            opacity: var(--sds-size-stroke-border);
        }

        &-number {
            @include fluid-text(150, 65);

            font-style: italic;
            font-weight: 700;
            line-height: 100%; /* 150px */
            -webkit-text-stroke: 2px transparent;

            background: var(--button-1);
            -webkit-background-clip: text;
            background-clip: text;

            color: black;
            min-width: 115px;
            @include flex-center;

            &--muller {
                font-family: var(--font-muller);
            }

            &--gotham {
                font-family: var(--font-gotham);
            }
        }
    }
}

.blocks {
    &__wrapper {
        gap: 100px;

        @include mobile {
            gap: 20px;
        }
    }

    &__item {
        width: 450px;
        height: 450px;
        color: #000;

        font-family: var(--sds-typography-body-font-family);
        font-size: 24px;
        font-style: normal;
        font-weight: var(--sds-typography-body-font-weight-strong);
        line-height: 140%; /* 33.6px */

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 20px;

        @include mobile {
            width: 100%;
        }
    }
}