.breadcrump {
    --breadcrumb-color: #fff;
    &--grey {
        --breadcrumb-color: #B6B8BD;
    }
    color: var(--breadcrumb-color) !important;

    margin-bottom: 74px;

    .ant-breadcrumb a {
        color: var(--breadcrumb-color) !important;
    }

    .ant-breadcrumb-separator {
        color: var(--breadcrumb-color) !important;
    }

    .ant-breadcrumb li:last-child {
        color: var(--breadcrumb-color) !important;
    }
}

// * {
//     outline: 1px solid red;
// }

.next-video-bg-text {
    padding: 5% !important;
}

body {
    background-image: 
    url('../../public/global_background_1_right.png'),
    url('../../public/global_background_2_left.png'),
    url('../../public/global_background_3_right.png'), 
    url('../../public/bg19_1.png'), 
    url('../../public/global_background_2_left.png'),
    url('../../public/global_background_5_right.png');

    background-position: 
    top 443px right 0,
    top 984px left 0,
    top 1515px right -617px,
    top 1866px left -300px,
    top 3109px left 0,
    top 2730px right -506px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

    @include mobile {
        background-image: unset;
    }
}

.dialog-backdrop {
    @include flex-center;
    width: 100vw;
}

.dialog-container {
    margin-inline: 5px;

    min-width: 495px;
    
    @include mobile {
        min-width: 100%;
    }
}
